{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "rules": {
    "eqeqeq": "error",
    "quotes": ["error", "single"],
    "dot-notation": "error",
    "curly": ["error", "multi-line"],
    "no-multi-spaces": "error",
    "no-redeclare": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "no-else-return": "error",
    "comma-dangle": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "spaced-comment": ["error", "always"],
    "prefer-const": "error",
    "no-unneeded-ternary": "error",
    "prefer-arrow-callback": "error",
    "arrow-body-style": "warn",
    "semi": ["error", "never"],
    "comma-spacing": "error",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/prefer-includes": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-boolean-value": "error",
    "react/jsx-props-no-multi-spaces": "error",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn",
    "react/no-render-return-value": "error",
    "react/prefer-es6-class": "error",
    "react/jsx-wrap-multilines": "error",
    "react/self-closing-comp": "error"
  }
}
